#img-gallery

  & #gallery-index
    height: auto

    & #flex-wrapper
      display: flex 
      justify-content: space-around
      flex-wrap: wrap
      padding-top: 4em

      & figure
        margin-bottom: 2em
